In [2]:
import pandas as pd

## Breast Cancer Data

#  Attribute                     Domain
   -- -----------------------------------------
   1. Sample code number            id number
   2. Clump Thickness               1 - 10
   3. Uniformity of Cell Size       1 - 10
   4. Uniformity of Cell Shape      1 - 10
   5. Marginal Adhesion             1 - 10
   6. Single Epithelial Cell Size   1 - 10
   7. Bare Nuclei                   1 - 10
   8. Bland Chromatin               1 - 10
   9. Normal Nucleoli               1 - 10
  10. Mitoses                       1 - 10
  11. Class:                        (2 for benign, 4 for malignant)

8. Missing attribute values: 16

   There are 16 instances in Groups 1 to 6 that contain a single missing 
   (i.e., unavailable) attribute value, now denoted by "?".  

9. Class distribution:
 
   Benign: 458 (65.5%)
   Malignant: 241 (34.5%)

In [75]:
bc = pd.read_csv('breast-cancer-wisconsin.data', names = ['id','Clump Thickness','Uniformity of Size', 'Uniformity of Shape',
                                                         'Adhesion','Size','Bare Nuclei','Bland Chromatin','Norm Nucleoli',
                                                          'Mitoses', 'Class'])

In [26]:
bc.dtypes

id                      int64
Clump Thickness         int64
Uniformity of Size      int64
Uniformity of Shape     int64
Adhesion                int64
Size                    int64
Bare Nuclei            object
Bland Chromatin         int64
Norm Nucleoli           int64
Mitoses                 int64
Class                   int64
dtype: object

In [19]:
bc.describe()

,id,Clump Thickness,Uniformity of Size,Uniformity of Shape,Adhesion,Size,Bland Chromatin,Norm Nucleoli,Mitoses,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [38]:
s = set()
for col in bc:
    if col != 'id':
        print(bc[col].unique())
s

[ 5  3  6  4  8  1  2  7 10  9]
[ 1  4  8 10  2  3  7  5  6  9]
[ 1  4  8 10  2  3  5  6  7  9]
[ 1  5  3  8 10  4  6  2  9  7]
[ 2  7  3  1  6  4  5  8 10  9]
['1' '10' '2' '4' '3' '9' '7' '?' '5' '8' '6']
[ 3  9  1  2  4  5  7  8  6 10]
[ 1  2  7  4  5  3 10  6  9  8]
[ 1  5  4  2  3  7 10  8  6]
[2 4]

set()

In [13]:
'''Do a quick search to check for NA values'''
total_na,missing = 0,0
for col in bc:
    total_na += bc[col].isna().sum()
    missing += bc[col]
total_na

0

In [58]:
bc[bc['Bare Nuclei']== '?'].count()

id                     16
Clump Thickness        16
Uniformity of Size     16
Uniformity of Shape    16
Adhesion               16
Size                   16
Bare Nuclei            16
Bland Chromatin        16
Norm Nucleoli          16
Mitoses                16
Class                  16
dtype: int64

Since the missing values constitute only about 2.2% of the data, I will first drop the rows that do not have a value for Bare Nuclei. To do this, I will first set them all to na and then dropna()

In [60]:
bc.count()

id                     699
Clump Thickness        699
Uniformity of Size     699
Uniformity of Shape    699
Adhesion               699
Size                   699
Bare Nuclei            699
Bland Chromatin        699
Norm Nucleoli          699
Mitoses                699
Class                  699
dtype: int64

In [76]:
bc = bc.drop(bc[bc['Bare Nuclei']== '?'].index)

In [77]:
bc.count()

id                     683
Clump Thickness        683
Uniformity of Size     683
Uniformity of Shape    683
Adhesion               683
Size                   683
Bare Nuclei            683
Bland Chromatin        683
Norm Nucleoli          683
Mitoses                683
Class                  683
dtype: int64

In [78]:
bc['Bare Nuclei'] =  bc['Bare Nuclei'].astype(int)

In [79]:
bc.dtypes

id                     int64
Clump Thickness        int64
Uniformity of Size     int64
Uniformity of Shape    int64
Adhesion               int64
Size                   int64
Bare Nuclei            int32
Bland Chromatin        int64
Norm Nucleoli          int64
Mitoses                int64
Class                  int64
dtype: object

In [169]:
#Full preprocessing steps from above
import pandas as pd
bc = pd.read_csv('breast-cancer-wisconsin.data', names = ['id','Clump Thickness','Uniformity of Size', 'Uniformity of Shape',
                                                         'Adhesion','Size','Bare Nuclei','Bland Chromatin','Norm Nucleoli',
                                                          'Mitoses', 'Class'])
bc = bc.drop(bc[bc['Bare Nuclei']== '?'].index)
bc['Bare Nuclei'] =  bc['Bare Nuclei'].astype(int)
#bc['Class'] = bc['Class'].astype('category')
bc = bc.reset_index()
rep = {2:0,4:1}
bc['Class'] = bc['Class'].replace(rep)

In [10]:
rep = {2:0,4:1}
bc['Class'] = bc['Class'].replace(rep)

In [263]:
def build_dummies(df):
    df_dum = pd.DataFrame()
    for i in range(1,len(df.columns)):
        temp = pd.get_dummies(df.iloc[:,i],drop_first=True,prefix = bc.columns[i])
        df_dum = pd.concat([df_dum,temp], axis = 1)
    
    return df_dum

In [324]:
#assume first column is index and last column is label

def winnow(df, labels, theta=5, alpha=2):
    
    '''This function access df,...
    assumes that df fields are ...'''
    
    width_df = len(df.columns)
    weights = [1]*(width_df)
    done = False
    errors = 0
    
    while not done:
        done = True
        for i in range(len(df)):
            classified = (sum([a*b for a,b in zip(weights,df.iloc[i,:])]) >= theta)
            if classified != labels[i]:
                errors += 1
                done = False
                if classified and not labels[i]: #demote
                    weights = [weights[k]/alpha if df.iloc[i,k] == 1 else weights[k] for k in range(width_df)]
                else: #promote
                    weights = [weights[k]*alpha if df.iloc[i,k] == 1 else weights[k] for k in range(width_df)]
    
    return weights,errors

In [326]:
a = build_dummies(bc)

In [327]:
w,error = winnow(a,bc['Class'])

here
here

In [333]:
def check_weights(df,w,theta):
    '''checks the weights returned by winnow model with any dataframe, assuming last column is label category'''
    df_dum = build_dummies(df)
    sums = [sum(a*b for a,b in zip(df_dum.iloc[i,:],w)) for i in range(len(df_dum))]
    classified = [i >= theta for i in sums]
    
    return all(a == b for a,b in zip(classified, df.iloc[:,-1]))

In [334]:
check_weights(bc,w,5)

True

In [243]:
wx = [1,1,1,.5,1,1,2,2,1]
for i in range(2):
    print(sum([a*b for a,b in zip(bc.iloc[i,2:11],wx)]) )

19.5
43.5

In [248]:
[sum(a*b for a,b in zip(bc.iloc[i,2:11],wx)) for i in range(10)]

[19.5, 43.5, 18.5, 50.5, 19.5, 82.0, 24.5, 17.5, 16.5, 17.5]

In [227]:
[a*b for a,b in zip([1,1,2,3,1,1,1,1,1],bc.iloc[0,2:11])]

[5, 1, 2, 3, 2, 1, 3, 1, 1]

In [67]:
#Dummy variable trap
a = bc.copy()
temp = pd.get_dummies(bc['Clump Thickness'], prefix = 'Clump',drop_first = True)

In [68]:
temp2 = pd.get_dummies(bc['Bare Nuclei'], drop_first = True, prefix = 'Bare')

In [97]:
a = build_dummies(bc)
a.iloc[:,0]

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      1
9      0
10     0
11     1
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
24     0
25     0
26     0
27     0
28     1
29     0
30     0
      ..
669    0
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    0
678    0
679    1
680    0
681    0
682    0
683    0
684    0
685    0
686    0
687    0
688    0
689    0
690    0
691    0
692    0
693    0
694    0
695    1
696    0
697    0
698    0
Name: Clump Thickness_2, Length: 683, dtype: uint8

In [103]:
[a*b for a,b in zip([1,1,0],[5,4,3])]

[5, 4, 0]

In [105]:
c = (True==False)
c

False

In [106]:
x = [1,2,3]

In [110]:
x = bc.Class

In [129]:
bc.reset_index()

,index,id,Clump Thickness,Uniformity of Size,Uniformity of Shape,Adhesion,Size,Bare Nuclei,Bland Chromatin,Norm Nucleoli,Mitoses,Class
0,0,1000025,5,1,1,1,2,1,3,1,1,0
1,1,1002945,5,4,4,5,7,10,3,2,1,0
2,2,1015425,3,1,1,1,2,2,3,1,1,0
3,3,1016277,6,8,8,1,3,4,3,7,1,0
4,4,1017023,4,1,1,3,2,1,3,1,1,0
5,5,1017122,8,10,10,8,7,10,9,7,1,1
6,6,1018099,1,1,1,1,2,10,3,1,1,0
7,7,1018561,2,1,2,1,2,1,3,1,1,0
8,8,1033078,2,1,1,1,2,1,1,1,5,0
9,9,1033078,4,2,1,1,2,1,2,1,1,0
10,10,1035283,1,1,1,1,1,1,3,1,1,0
11,11,1036172,2,1,1,1,2,1,2,1,1,0
12,12,1041801,5,3,3,3,2,3,4,4,1,1
13,13,1043999,1,1,1,1,2,3,3,1,1,0
14,14,1044572,8,7,5,10,7,9,5,5,4,1
15,15,1047630,7,4,6,4,6,1,4,3,1,1
16,16,1048672,4,1,1,1,2,1,2,1,1,0
17,17,1049815,4,1,1,1,2,1,3,1,1,0
18,18,1050670,10,7,7,6,4,10,4,1,2,1
19,19,1050718,6,1,1,1,2,1,3,1,1,0
20,20,1054590,7,3,2,10,5,10,5,4,4,1
21,21,1054593,10,5,5,3,6,7,7,10,1,1
22,22,1056784,3,1,1,1,2,1,2,1,1,0
23,24,1059552,1,1,1,1,2,1,3,1,1,0
24,25,1065726,5,2,3,4,2,7,3,6,1,1
25,26,1066373,3,2,1,1,1,1,2,1,1,0
26,27,1066979,5,1,1,1,2,1,2,1,1,0
27,28,1067444,2,1,1,1,2,1,2,1,1,0
28,29,1070935,1,1,3,1,2,1,1,1,1,0
29,30,1070935,3,1,1,1,1,1,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
653,669,1350423,5,10,10,8,5,5,7,10,1,1
654,670,1352848,3,10,7,8,5,8,7,4,1,1
655,671,1353092,3,2,1,2,2,1,3,1,1,0
656,672,1354840,2,1,1,1,2,1,3,1,1,0
657,673,1354840,5,3,2,1,3,1,1,1,1,0
658,674,1355260,1,1,1,1,2,1,2,1,1,0
659,675,1365075,4,1,4,1,2,1,1,1,1,0
660,676,1365328,1,1,2,1,2,1,2,1,1,0
661,677,1368267,5,1,1,1,2,1,1,1,1,0
662,678,1368273,1,1,1,1,2,1,1,1,1,0
663,679,1368882,2,1,1,1,2,1,1,1,1,0
664,680,1369821,10,10,10,10,5,10,10,10,7,1
665,681,1371026,5,10,10,10,4,10,5,6,3,1
666,682,1371920,5,1,1,1,2,1,3,2,1,0
667,683,466906,1,1,1,1,2,1,1,1,1,0
668,684,466906,1,1,1,1,2,1,1,1,1,0
669,685,534555,1,1,1,1,2,1,1,1,1,0
670,686,536708,1,1,1,1,2,1,1,1,1,0
671,687,566346,3,1,1,1,2,1,2,3,1,0
672,688,603148,4,1,1,1,2,1,1,1,1,0
673,689,654546,1,1,1,1,2,1,1,1,8,0
674,690,654546,1,1,1,3,2,1,1,1,1,0
675,691,695091,5,10,10,5,4,5,4,4,1,1
676,692,714039,3,1,1,1,2,1,1,1,1,0
677,693,763235,3,1,1,1,2,1,2,1,2,0
678,694,776715,3,1,1,1,3,2,1,1,1,0
679,695,841769,2,1,1,1,2,1,1,1,1,0
680,696,888820,5,10,10,3,7,3,8,10,2,1
681,697,897471,4,8,6,4,3,4,10,6,1,1
682,698,897471,4,8,8,5,4,5,10,4,1,1

In [115]:
w = [1,2,1,1,5]
print([x/5 if x == 1 else x for x in w])

[0.2, 2, 0.2, 0.2, 5]

names = ['id', 'RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']
Attribute Information:
   1. Id number: 1 to 214
   2. RI: refractive index
   3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as 
                  are attributes 4-10)
   4. Mg: Magnesium
   5. Al: Aluminum
   6. Si: Silicon
   7. K: Potassium
   8. Ca: Calcium
   9. Ba: Barium
  10. Fe: Iron
  11. Type of glass: (class attribute)
      -- 1 building_windows_float_processed
      -- 2 building_windows_non_float_processed
      -- 3 vehicle_windows_float_processed
      -- 4 vehicle_windows_non_float_processed (none in this database)
      -- 5 containers
      -- 6 tableware
      -- 7 headlamps

8. Missing Attribute Values: None

Summary Statistics:
Attribute:   Min     Max      Mean     SD      Correlation with class
 2. RI:       1.5112  1.5339   1.5184  0.0030  -0.1642
 3. Na:      10.73   17.38    13.4079  0.8166   0.5030
 4. Mg:       0       4.49     2.6845  1.4424  -0.7447
 5. Al:       0.29    3.5      1.4449  0.4993   0.5988
 6. Si:      69.81   75.41    72.6509  0.7745   0.1515
 7. K:        0       6.21     0.4971  0.6522  -0.0100
 8. Ca:       5.43   16.19     8.9570  1.4232   0.0007
 9. Ba:       0       3.15     0.1750  0.4972   0.5751
10. Fe:       0       0.51     0.0570  0.0974  -0.1879

9. Class Distribution: (out of 214 total instances)
    -- 163 Window glass (building windows and vehicle windows)
       -- 87 float processed  
          -- 70 building windows
          -- 17 vehicle windows
       -- 76 non-float processed
          -- 76 building windows
          -- 0 vehicle windows
    -- 51 Non-window glass
       -- 13 containers
       -- 9 tableware
       -- 29 headlamps

In [335]:
glass_df = pd.read_csv('glass.data',names = ['id', 'RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type'])

In [336]:
glass_df.describe()

,id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [341]:
glass_df['RI'].max() - glass_df['RI'].min()

0.022780000000000022

In [ ]:
def discretize_values(df):